<!-- footer -->
<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-credit-card"></i>
                    <h2>Pagá con tarjeta o en efectivo</h2>
                    <p>Tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y
                        siempre es seguro!</p>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-gift"></i>
                    <h2>Envío gratis desde $ 4.999</h2>
                    <p>¡Abona la suscripción y comenza a disfrutar de los beneficios!</p>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-user-shield"></i>
                    <h2>Seguridad, de principio a fin</h2>
                    <p>¿Te llegó en mal estado? ¡Devolvelo! Tu compra esta siempre protegida.</p>
                </article>
            </div>
        </div>
    </div>
    <div class="integrantes">
        <h2>Natalia Vaccaro Bianchi, Clara Ramos, Joaquina Edo</h2>
    </div>
</footer>
<!-- /footer -->