<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="./images/logo-mercado-liebre.jpg" />

	<title> Mercado Liebre Argentina</title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/app.css">
</head>

<body>
	<!-- Header -->
	<% include ('partials/header.ejs') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
				<form method="get">

					<label for="nombre">Nombre de usuario:</label><br>
					<input type="text" id="nombreUsuario" name="nombreUsuario" required><br>

					<label for="contraseña">Contraseña:</label><br>
					<input type="text" id="contraseñaUsuario" name="contraseñaUsuario" required><br>

					<label for="recordarme">Recordarme:</label><br>
					<input type="checkbox" id="recordarme" name="recordarme"><br>

					<input type="submit" value="iniciar sesión">

				</form>
			</h2>


	<!-- footer -->
	<% include ('partials/footer.ejs') %>
	</footer>
	<!-- /footer -->
</body>

</html>