<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include("./partials/head.ejs") %>

<body>
	<!-- Header -->
	<%- include("./partials/header.ejs") %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
				<form method="post" action="/users/register" class="formularios">

					<label for="usuario">Nombre de usuario:</label><br>
					<input type="text" id="usuario" name="usuario" value="" required><br>

					<label for="email">Mail:</label><br>
					<input type="email" id="email" name="email" value="" required><br>

					<label for="contrasenia">Contraseña:</label><br>
					<input type="text" id="contrasenia" name="contrasenia" value="" required><br>

					<label for="fechaNacimiento">Fecha de nacimiento:</label><br>
					<input type="date" id="fechaNacimiento" name="fechaNacimiento" value="" required><br>

					<label for="DNI">Numero de documento:</label><br>
					<input type="number" id="DNI" name="DNI" value="" required><br>

					<label for="fotoPerfil">Foto de perfil:</label><br>
					<input type="file" id="fotoPerfil" name="fotoPerfil" value=""><br>

					<input type="submit" value="Crear usuario">

				</form>
			</h2>
    </div>
	<!-- footer -->
	<%- include('./partials/footer.ejs') %>
	<!-- /footer -->

</body>
</html>